

.expenseList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemsList {
    width: max-content;
    height: max-content;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.itemRow {
    list-style: none;
}
