.main {
  width: 45vh;
  height: 100vh;
  background-color: aliceblue;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.display-container {
  background-color: rgb(152, 189, 221);
}